/*_________________________Body___________________________*/
body{
    background-color: #f4dab5 !important;
}
/*________________________________________________________*/

/*_________________________Nav bar___________________________*/
nav{
    margin-right: 35%;
    padding-right: 2%;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px 5px #987861;
    background: #e1cdc681;
}

.navbar-brand {
    margin-right: 0px !important;
}

#dropdown{
    text-align: center;
    margin-top: 8%;
    background: #e1cdc681;
}

#search_bar{
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #987861;
}

#search_bar2{
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #987861;
}
/*________________________________________________________*/

/*_________________________Nav bar logo___________________________*/

.logo{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #987861;
}

/*________________________________________________________*/

/*_________________________link animation___________________________*/
.link{
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.2);
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0 0 10px 5px #987861;
    overflow: hidden !important;
    transition: 2s;
    display: inline-block;
}

.link2{
    width: 83% !important;
    margin-bottom: 5%;
}

a span:nth-child(1){
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right, #e1cdc681, #f3d7cc);
    animation: animate1 2s linear infinite;
    border-radius: 10px;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1.5px;
    background: linear-gradient(to bottom, #e1cdc681, #f3d7cc);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
    border-radius: 10px;
}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

a span:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to left, #e1cdc681, #f3d7cc);
    animation: animate3 2s linear infinite;
    border-radius: 10px;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1.5px;
    background: linear-gradient(to top, #e1cdc681, #f3d7cc);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
    border-radius: 10px;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
/*________________________________________________________*/

/*_________________________Fő cím___________________________*/
#focim{
    background: #e1cdc681;
    margin-top: 2%;
    margin-left: 37%;
    margin-right: 37%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 200%;
    text-align: center;
    box-shadow: 0 0 10px 5px #987861;
    background-color: rgba(128, 128, 128, 0.2);
}

#h1_elso{
    border-bottom: rgb(0, 0, 0) 1px solid;
}
/*________________________________________________________*/